<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/reset.css"/>
    <link rel="stylesheet" href="../styles/main02_a.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <figure>
        <a href="../index.html"><img src="../images/alura_logo.png" class="logo"/></a>
    </figure>

    <section class="opcionesJuegoInicio">
            <section class="botones btnJuego">
                <a href="./project02-JuegoAhorcado_juego.html" class="textLink"><button type="button" class="boton btnJugar">Iniciar Juego</button></a>
                <a href="./project02-JuegoAhorcado_opciones.html" class="textLink"><button type="button" class="boton btnOpciones">Agregar nueva palabra</button></a>
            </section>
        </section>
    </section>

    <script type="text/javascript" src="../scripts/encriptador.js"></script>
</body>
</html>