<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/reset.css"/>
    <link rel="stylesheet" href="../styles/main.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <figure>
        <a href="../index.html"><img src="../images/alura_logo.png" class="logo"/></a>
    </figure>

    <section class="ingresarTexto">
        <textarea class="textoIngresado" placeholder="Ingrese una palabra" maxlength="8" autofocus></textarea>
        <section class="botonesDivision">
            <article class="informacion">
                <p id="textInformation"><i class="fa fa-exclamation-circle"></i> Máximo de 8 letras</p>
            </article>

            <section class="botones">
                <button type="button" class="boton btnGuardar">Guardar palabra</button>
                <a href="./project02-JuegoAhorcado_juego.html"><button type="button" class="boton btnJuego">Comenzar el juego</button></a>
            </section>
        </section>
    </section>

    <script type="text/javascript" src="../scripts/ahorcado_palabras.js"></script>
</body>
</html>